.dashboard{
    width: calc(100vw - 350px);
    margin-left: 350px;
}
.dashboard .topnav{
    position: absolute;
    width: calc(100vw - 350px);
    height: 75px;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}
.dashboard .topnav h1{
    margin-left: 50px;
    font-size: 40px;
}
.dashboard .mainContent{
    height: calc(100vh - 110px);
    width: 90%;
    margin-left: 5%;
    /* border: solid 2px red; */
    margin-top: 100px;
}
.dashboard .mainContent .Mtop{
    width: 100%;
    height: 50%;
    /* border: solid 2px green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard .mainContent .Mtop .totalEmailActive{
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border-left: solid 10px rgb(46, 223, 46);
    box-shadow: 0px 20px 35px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard .mainContent .Mtop .totalEmailActive .activeEmailNu{
    font-size: 100px;
    color:rgb(19, 133, 19) ;
}
.dashboard .mainContent .Mtop .totalEmailActive .title{
    margin-top: 60px;
    font-size: 25px;
}


.dashboard .mainContent .Mtop .totalEmailBlock{
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border-left: solid 10px rgb(223, 46, 46);
    box-shadow: 0px 20px 35px rgb(0, 0, 0, 0.2);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard .mainContent .Mtop .totalEmailBlock .blockEmailNu{
    font-size: 100px;
    color:rgb(133, 19, 19) ;
}
.dashboard .mainContent .Mtop .totalEmailBlock .title{
    margin-top: 60px;
    font-size: 25px;
}

.dashboard .mainContent .Mtop .totalEmail{
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border-left: solid 10px rgb(0, 0, 0);
    box-shadow: 0px 20px 35px rgb(0, 0, 0, 0.2);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard .mainContent .Mtop .totalEmail .EmailNu{
    font-size: 100px;
    color:rgb(0, 0, 0) ;
}
.dashboard .mainContent .Mtop .totalEmail .title{
    margin-top: 60px;
    font-size: 25px;
}

.dashboard .mainContent .Mbottom{
    width: 100%;
    height: 50%;
    /* border: solid 2px green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard .mainContent .Mbottom .currentProcesing{
    height: 350px;
    width: 750px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 35px rgb(0, 0, 0, 0.2);
    margin-left: 50px;
}
.dashboard .Mbottom .currentProcesing .header{
    width: 100%;
    height: 50px;
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
}
.dashboard .Mbottom .currentProcesing .header h1{
    margin-left: 20px;
}
.dashboard .Mbottom .currentProcesing .header .viewButton{
    padding: 5px;
    background-color: rgb(0, 215, 0);
    font-size: 25px;
    border-radius: 5px;
    margin-left: 320px;
}
.dashboard .Mbottom .currentProcesing .header .viewButton:hover{
    cursor: pointer;
    padding: 8px;
    transition: 200ms;
    background-color: rgb(54, 242, 54);
}
.dashboard .Mbottom .currentProcesing .currentProcessDisplay {
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100% - 25px);
    height: calc(100% - 65px);
    overflow-y: scroll;
    font-size: 23px;
}


.dashboard .contentLoadingAnimation{
    height: 50px;
    width: 90%;
    background-color: black;
    border-radius: 50px;
    border: solid 1px rgb(0, 0, 0);

}
.dashboard .c1{
    height: 100px;
    width: 70%;
    border-radius: 20px;
    margin-top: 10px;
}
.dashboard .c2{
    height: 20px;
    width: 90%;
    margin-top: 60px;
}
.dashboard .t1{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashboard .t1 .loadingIcon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: solid 1px black;
    background-color: rgba(235, 235, 235, 0.2);
    margin-left: 20px;
}
.dashboard .t1 .loadingBox{
    height: 20px;
    width: 200px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: rgba(235, 235, 235, 0.2);
    margin-left: 20px;
}
.dashboard .t1 .loadingBoxSmall{
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: rgba(235, 235, 235, 0.2);
    margin-left: 20px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
